*.obj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
bin/
obj/
Debug/
Release/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
packages/